.experience {
    background: #f3eaea;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden; 
  }
  
  .ico {
    grid-column: span 1;
    position: relative;
    height: 64px;
    display: flex;
    align-items: left;
    justify-content: left; /* Adjust this to center the image vertically */
  }
  
  .ico::before {
    content: '';
    position: absolute;
    top: 50%; /* Aligns the dot at the vertical center of the .ico container */
    left: 50%; /* Centers the dot horizontally within the .ico container */
    transform: translate(-50%, -50%); /* Ensures the dot is perfectly centered */
    width: 15px; /* Dot size */
    height: 15px; /* Dot size */
    background-color: #cfcfcf;
    border-radius: 50%;
    z-index: 1;
  }
  
  .ico img {
    border-radius: 10px;
    width: 100%;
    max-width: 64px;
  }
  
  .row {
    display: grid;
    grid-template-columns: auto 1fr; /* Adjust as needed, 'auto' for the timespan and '1fr' for the content */
    align-items: center; /* Aligns items vertically */
    gap: 16px; /* Space between columns */
    position: relative; /* Needed for absolute positioning of pseudo-elements */
  }
  
  .row::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 96px; /* Adjust based on your design preference */
    border-left: 4px solid #cfcfcf;
  }
  
  .desc {
    grid-column: span 10;
    vertical-align: center;
    font-size: 1.8rem;
    padding-left: 20px;
    padding-top:10px ;
    color:#333
  
  }
  
  .entry-dot {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* This will vertically center the dot */
    left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #cfcfcf;
    border: 3px solid white;
    z-index: 1; /* Make sure the dot appears on top */
  }